extends layout
block stylesheet
	link(rel='stylesheet', href='/css/index.css')

block content
	#container.col
		.heading
			h1.page_title IOTPillBox
			h2 Welcome to ____'s Page
			//____ is whatever was put into 'patient' in the registration page

		br

		#status
			h2 It looks like you're not connected to an Arduino device.
			//
				put in status message here
				if patient has taken today's pills:
					____ has taken today's pills.
				else if patient has taken a different day's pills:
					____ has taken a different day's pills!
				else:
					____ has not taken today's pills yet.
		#user_alert
			p#alert_description If you would like to alert ___ to take today's pills, please click the button below.
			input(type='submit', name='alert', value='Send Alert', class='button', id='alert')

//
	we also need a functionality that,
		if a different day's pills have been taken,
		or if it passes some arbitrary time like 9:00pm or 10:00pm
	will alert the family with a text message saying:
		____ has taken a different day's pills!
		or
		____ has not taken today's pills yet.
		depending on what actually happened, of course
