<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css"><link rel="stylesheet" href="../public/bootstrap/css/bootstrap-responsive.min.css"><link rel="stylesheet" href="../public/stylesheets/style.css"><script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script><script src="../public/bootstrap/js/bootstrap.min.js"></script></head><body><div id="container" class="col"><h1>IOTPillBox</h1><p>Welcome to ____'s Page</p><!--____ is whatever was put into 'patient' in the registration page--><br><div id="status"><!--put in status message here
if patient has taken today's pills:
	____ has taken today's pills.
else if patient has taken a different day's pills:
	____ has taken a different day's pills!
else:
	____ has not taken today's pills yet.--></div><div id="userAlert"><p>If you would like to alert ___ to take today's pills, please click the button below.</p><input type="submit" name="alert" value="Sent Alert"></div></div></body></html>