<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<title>IOTPillBox</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="container">
		<h1>IOT Pill Box</h1>
		<br>
		<h1>Welcome</h1>

		<div id="form_sections">
			<form name="username" action="/" method="POST">
				<input type="text" name="username">
				<input type="password" name="password">
				<input type="submit" value="Login">
			</form>
			
			<br>
			
			<p>Don't have an account? Register <a href="register.erb">here</a></p>
		</div>
	</div>
</body>
</html>