doctype html
html
  head
    title= PennAppsIOTPillBox
    link(rel='stylesheet', href='../public/css/bootstrap.min.css')
    link(rel='stylesheet', href='../public/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='../public/css/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='../public/js/bootstrap.min.js')
  body
    block content