extends layout
block stylesheet
  link(rel='stylesheet', href='/css/login.css')

block content
  #container.col
    #description
      h1.page_title IOTPillBox
      p#description_text.
        Stay informed of your loved ones' medication use so you can rest assured that they'll
        stay happy and healthy.
    #loginArea
      h1#welcome Welcome

      form(name='input')
        a(href="/auth/facebook")
          img(src="../img/facebook_button.jpg", class='button', id='facebook')
        br
        a(href="/auth/google")
          img(src="../img/google_button.png", class='button', id='google')