extends layout
block stylesheet
  link(rel='stylesheet', href='/css/login.css')

block content
  #container.col
    #description
      h1(class='page_title') IOTPillBox
      p(id='description_text').
        Watch your loved ones' medication use so you can rest assured that they'll
        stay happy and healthy.
    #loginArea
      h1(id='welcome') Welcome

      form(name='input')
        input(type='image', src="../img/facebook_button.jpg", class='button', id='facebook')
        br
        input(type='submit', class='button', id='google')

      br

      p Don't have an account yet? Register 
        a(href='register') here