extends layout
block stylesheet
  link(rel='stylesheet', href='/css/register.css')

block content
  #container.col
    h1 Registration
    br
    p It looks like your account isn't connected to anyone yet. Enter the info below to get started.
    br
    form(method="POST", action="/register")
      input(type='text', name='patient', placeholder='Patient Name')
      br
      input(type='submit', class='button', value='Register')
