<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<title>IOTPillBox</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="container">
		<h1>Register</h1>
		<br>

		<div id="form_sections">
			<form name="input" action="/" method="POST">
				<input type="text" name="username" value="Username">
				<br>
				<input type="password" name="password" value="Password">
				<br>
				<input type="submit" value="Register">
			</form>
		</div>
	</div>
</body>
</html>