.heading {
	margin-top: -6%;
	margin-bottom: 4%;
}

#status {
	width: 50%;
	text-align: center;
	margin: -2% auto 5%;
	background: #CEEAFD;
	border-radius: 20px;
	padding: 8%;
}

#alert {
	padding: 1.5% 7%;
	margin-top: 5px;
}