body {
	background: url("../img/autumn-leaves.jpg");
	background-size: 100%;
}

.heading {
	margin-top: -20px;
	margin-bottom: 50px;
	color: white;
	text-shadow:
		-1px -1px 0 black,
		-1px 1px 0 black,
		1px -1px 0 black,
		1px 1px 0 black;
}

#status {
	width: 600px;
	text-align: center;
	margin: -40px auto 30px;
	background: #CEEAFD;
	border-radius: 20px;
	padding: 75px;
}

#user_alert {
	margin: 60px 110px -60px;
	background-color: #FFF8A8;
	border-radius: 20px;
	padding: 5px;
}

#alert_description {
	font-size: 24px;
}

#alert {
	padding: 20px 75px;
	margin-top: 5px;
	border-radius: 20px;
	background-color: #F2738C;
	border-style: none;
	font-size: 24px;
}