body {
	background: url("../img/login_pic.jpg") no-repeat;
	background-size: 100%;
}

#container {
	margin-top: 100px;
}

#loginArea {
	background: #CEEAFD;
	padding: 20px;
	float: right;
	width: 350px;
	border-radius: 20px;
	margin-right: 25px;
}

#description {
	width: 700px;
	float: left;
	padding: 20px;
	margin-left: -50px;
}

#description_text {
	font-size: 32px;
}

#login_background {
	background-image: url("../img/login_pic.jpg");
}

#google {
	width: 180px;
	height: 30px;
	margin-bottom: -10px;
}