body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#container {
	margin: 0 auto;
	text-align: center;
}

.page_title {
	font-size: 48px;
}

.button {
	padding: 5px 20px;
	margin: 5px;
	font-size: 18px;
}